udacity-nd009t-C2-Developing-ML-Workflow/project/MyStateMachine-StepFunc.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Lambda 1: Data Transform",
  "States": {
    "Lambda 1: Data Transform": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:951448419437:function:serializeImageData:$LATEST"
      },
      "Next": "Lambda 2: Classify Image"
    },
    "Lambda 2: Classify Image": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:951448419437:function:classifierLambda:$LATEST"
      },
      "Next": "Lambda 3: Low Confidence Filter"
    },
    "Lambda 3: Low Confidence Filter": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:951448419437:function:lowConfidenceFilter:$LATEST"
      },
      "End": true
    }
  }
}